#footer{
    width: 100%;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 40vh;
}
#footer h1{
    font-size: 6vw;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    opacity: 0.8;
    text-transform: uppercase;
}

#footer #icons{
    padding: 12px 22px;
    
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    margin-top: 15px;
   
}
#icons a{
    text-decoration: none;
    color: aliceblue;
}
#icons i{
    margin: 10px;font-size: 2vw;
}
#footer h5{
    font-size: 2vw;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    opacity: 0.8;
    margin-top: 15px;
    text-transform: uppercase;
}

