#secondpage{
    height: 100vh;
    width: 100%;
    background-color: black;
    padding-top: 80px;
    color: aliceblue;
}

#elem{
    width: 85%;
    border-top: 1px solid gray; 
    padding: 1vw 6vw;
    position: relative;
    display: flex;
    align-items: center;

}

#elem h1{
    font-size: 50px;
    text-transform: uppercase;
    
}

#elem img{
    opacity: 0;
    z-index: 999;
    position: absolute;
    height: 120%;
}